---
const { id, placeholder } = Astro.props;
---
<data-input data-id={id} class="w-max">
  <div class="relative max-w-sm">
    <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
      <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
          <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
        </svg>
    </div>
    <input id={id} type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-colorApp-500 focus:border-colorApp-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-colorApp-500 dark:focus:border-colorApp-500" placeholder={placeholder}>
  </div>
</data-input>

<script>
  import Datepicker from 'flowbite-datepicker/Datepicker';
  import es from "flowbite-datepicker/locales/es";

  Object.assign(Datepicker.locales, es);

  class DataInput extends HTMLElement {
      constructor() {
        super();

        const identificador = this.dataset.id;
        const datepickerEl = document.getElementById(identificador);
        new Datepicker(datepickerEl,{
          language: 'es',
        })
      }
    }

    customElements.define("data-input", DataInput);
</script>
