---

---

<div class="w-full h-full flex justify-center items-center text-center">
  <div class="flex flex-col">
    <span class="material-symbols-outlined" style="font-size: 15em;">fmd_bad</span>
    <span class="text-2xl">No hay contenido disponible.</span>
  </div>
</div>
